<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">About Us</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
    <%= link_to "Add Cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>


  <!-- Banner -->
  <div class="banner" style="background-image:url('<%= image_path "banner1" %>');">
    <div class="banner-content">
      <div class="write"> <!-- Do i need this class?-->
        <h1>Welcome to Mr.Cocktail</h1>
      </div>
      <p>A paradise for cocktail lovers</p>
      <a class="btn btn-primary btn-lg">See Cocktail</a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

<div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4 card-box">
          <div class="card card-box" style="background-color: white">
          <h5><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
          </div>
        </div>
        <% end %>
      </div>
</div>ß



